body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.card {
    background: rgb(252, 148, 181);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;

}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
}

@keyframes float {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    50% { transform: translateY(-50vh) scale(1.2); opacity: 0.8; }
    100% { transform: translateY(-100vh) scale(1.5); opacity: 0; }
}

/* floating hearts */
.heart {
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: rgb(229, 4, 4);
    clip-path: polygon(50% 0%, 100% 35%, 80% 100%, 50% 75%, 20% 100%, 0% 35%);
    animation: float 5s linear infinite;
    opacity: 0;
}

/* Style for the GIF */
#valentine-gif {
    width: 150px; /* Set the width of the GIF */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make it behave like a block element */
    margin: 0 auto; /* Center the GIF horizontally */
    border-radius: 10px; /* Optional: add rounded corners */
}
